<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

<div class="container">
  <div class="row">
    <h2>Item has been added</h2>
    <a href="/news-sources" class="btn btn-danger">Go back</a>
  </div> <!-- row -->
   
</div>


</body>
</html>
