<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

<div class="container">
  <div class="row">
  
          <h1>Update page</h1>    
      
  </div> <!-- row -->
   
</div>


</body>
</html>

